/* Navbar styles */
.navbar-light .navbar-nav .nav-link {
  /* color: black;  */
  color: white;
  font-size: 22px;
}
.navbar-light .navbar-brand {
  color: black;
  font-size: 30px;
}

/* Header styles */
header {
  position: relative;
  height: 40vh;
  min-height: 380px;
  background-size: cover;
  /* background-image: url(./assets/maincover.jpeg);  */
  background-image: url(./assets/4.jpg);
  width: 100%;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.header-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header-content p {
  font-size: 1.2em;
  margin-top: 0;
}
#headertextbtn {
  border-radius: 15px;
  padding: 6px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 12px;
  color: black;
  font-weight: 400;
}
#Discover_para {
  color: #15355f;
  color: white;
}
#Discover_paraa {
  /* color: #963838;   */
  color: rgb(247, 247, 240);
  margin-bottom: 2px;
}
/* ............... */

.container {
  display: flex;
}

/* Style for the first section */
.section1 {
  flex: 0 0 50%;
  padding: 20px;
  /* border: 1px solid #ccc;  */
  margin: 10px;
}

/* Style for the second section */
.section2 {
  flex: 0 0 50%;
  padding: 20px;
  /* border: 1px solid #ccc;  */
  margin: 10px;
}
#f_4_icons {
  color: #ff4500;
  font-size: 30px;
  padding-top: 12px;
}
#f_3_icons {
  color: white;
  font-size: 30px;
}

#3rd_card {
  background-color: #ff4500;
}

.card {
  width: 85%;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.214);
}
.card-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14px;
  color: gray;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.btn {
  color: #ff4500;
  padding-left: 0px;
}

#card_4 {
  color: white;
  padding-top: 12px;
}

.card-body {
  padding-left: 0px;
}

.navbar-red-bg {
  /* background-color: white !important;  */
  background-color: #ff4500 !important;
  transition: background-color 1s ease;
}

/* ................... */
.btn-2-learn {
  background-color: #ff4500;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 6px 18px;
  font-weight: 500;
}
.digital_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 2rem;
}

.digital_paragraph {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.8rem;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  color: gray;
}
.section_2_container {
  margin-top: 80px;
}

.row {
  justify-content: center;
}
/* .......photo gallery */

.main_container_gallery_all {
  display: flex;
}
.photo_cards_container {
  flex: 0 0 65%;
  /* border: 1px solid #ccc;  */
}
.images_tags_container {
  flex: 0 0 35%;
  /* border: 1px solid #ccc;  */
}
.photo_cards_contain22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* avatar */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar_container_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.date_for_post {
  display: flex;
  color: rgba(0, 0, 0, 0.654);
}
.card_2 {
  box-shadow: none;
  /* border: none;   */
}
.post_username,
.date_for_post {
  padding-left: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.xxx_1221_01 {
  display: flex;
  /* align-items: flex-end; */
  font-weight: 100;
}

.calendar-icon {
  color: #ff4500;
  padding-bottom: 14px;
}
.card-img-top {
  height: 300px;
}

/* pagination */
ul.pagination li.page-item a.page-link.page_previous_custom {
  background-color: #ff4500;
  color: white;
}
/* button */
.btn_for_tags {
  background-color: rgb(233, 231, 231);
  color: rgba(0, 0, 0, 0.851);
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}

/* ...... */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  padding-left: 1px;
  padding-right: 23px;
}

.gallery img {
  width: 95%;
  height: auto;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gallery_main_container {
  margin-top: 50px;
}

/* ////////////////////// */
@media (max-width: 991px) {
  #navbarSupportedContent {
    background-color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.898);
    padding: 10px;
  }
  .header-content {
    top: 57%;
  }
  #Discover_para {
    font-size: x-large;
  }
  .container_2_for_cards {
    display: flex;
    flex-direction: column;
  }
  .container_for_row_cards {
    display: flex;
    flex-direction: column;
  }
  .section1 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .card-text {
    font-size: 18px;
  }
  .digital_paragraph {
    font-size: 20px;
    font-weight: 500;
  }
  .section_2_container {
    margin-top: 0px;
  }
  .digital_heading p {
    margin-bottom: 0px;
  }
  .main_container_gallery_all {
    flex-direction: column;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 15px;
  }

  .gallery img {
    width: 100%;
    /* height: 90px;  */
  }
  .tag_11,
  .tags_container_1211 {
    padding-left: 5px;
  }
}

/* ............ */

/* footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.box {
  padding: 10px;
  background-color: #666;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
  }
} */

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* background-color: #333;  */
  background-color: rgba(0, 0, 0, 0.93);
  color: #fff;
  padding: 20px;
}

.box {
  padding: 10px;
  /* background-color: #666; */
  text-align: center;
}

@media screen and (max-width: 1200px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
  }

  .box {
    margin-bottom: 20px; /* Add margin to separate boxes vertically */
  }
}

.quick-links-list,
.contact-info-list,
.newsletter-list,
.about-links-list {
  list-style-type: none;
}

.social-media {
  display: flex;
  /* justify-content: space-evenly;
  padding: 0px 10px;
  font-size: 18px; */
}

.quick-links-list,
.contact-info-list,
.newsletter-list,
.about-links-list,
.quick-links-icons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.quick-links-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  /* padding: 10px;  */
}
/* .quick-links-icons li i:nth-child(n + 2):nth-child(-n + 5) {
  padding: 10px;
} */
.quick-links-icons li:nth-child(n + 2):nth-child(-n + 5) i {
  padding-left: 12px;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.93);
  color: white;
  padding: 5px;
}
